// colors
$white: #FFFFFF;
$black: #000000;


$gray-50: #fbfbfe;
$gray-100: #F5F5F9;
$gray-500: #757575;


$cyan: #49C5B6;



// theme
$primary: $cyan;
$background: $gray-100;

$hover: $gray-50;



// sizes
$border-radius: 12px;
$grid-gap: 8px;

$header-height: 50px;

$card-padding: 22px;


$h1: 20px;
$h2: 18px;
$h3: 16px;
$h4: 14px;
$h5: 12px;
$h6: 10px;


@mixin shadow {
  box-shadow: 0 0 10px rgba(127, 127, 127, 0.15);
}
