@import "constants/styles/variables";

@mixin hide-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.card {

  [class~=CardActionArea] {
    display: flex;
    flex-direction: column;
  }

  [class~=List] {
    padding: 10px 5px 0;

    & > li > p {
      @include hide-overflow;
    }
  }

  [class~=CardActions] {
    & > span {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      &:first-child {
        padding-left: 5px;
      }

      & > p {
        color: #C3C3C3;
        font-size: 13px;
      }
    }
  }
}

.hidden {
  opacity: 0;
}



.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //gap: 5px;

  & > p {
    font-size: 12px;
    margin: 0 7px 0 0;
    color: #40b2a4;
  }
}

.head {
  //@include hide-overflow;
}

.desc {
  padding-top: 10px;

  //max-height: 30px;
  overflow: hidden;
}


