.card {


  & > button {
    display: flex;
    flex-direction: column;
  }
}

.hidden {
  opacity: 0;
}


@mixin hide-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //gap: 5px;

  & > p {
    font-size: 12px;
    margin: 0 7px 0 0;
    color: #40b2a4;
  }
}

.head {
  //@include hide-overflow;
}

.desc {
  padding-top: 10px;

  //max-height: 30px;
  overflow: hidden;
}

.memberList {
  padding: 10px 5px 0;

  & > li > p {
    @include hide-overflow;
  }
}
