@import "constants/styles/variables";

.container {
  background-color: $white;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 500;
  border-bottom: $gray-200 1px solid;

  display: flex;
  flex-direction: row;
}

.placeholder {
  height: $header-height;
}
